@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (string.IsNullOrWhiteSpace(Model.MyName))
    {
        <p>The world of Razor is currently closed :(</p>
    }
    else
    {
        <p>@Model.MyName</p>
    }
    <br/><br/>
    @if (Model.BuildVersionInfo == null)
    {
        <p style="font-weight:bold;">Build Version Unknown</p>
    }
    else
    {
        <p>Database Version: @Model.BuildVersionInfo.Major . 
                             @Model.BuildVersionInfo.Minor .
                             @Model.BuildVersionInfo.Build
            was released on @Model.BuildVersionInfo.ReleaseDate.ToShortDateString()
        </p>
    }
</div>

<!--
    helper tag: asp-for
        the tag tie the control (the input or any other control) 
        to the data in our Model ("code-behind") Class
-->

<form method="post">
    <label>
        Enter a number: <input type="number" asp-for="number"/>
    </label>
    <br/>
    <button type="submit" value="A Button" class="btn btn-success" id="theButton" 
        name="theButton" asp-page-handler="AButton">A Button</button>
    &nbsp;&nbsp;
    <button type="submit" value="B Button" class="btn btn-warning" id="theButton" 
        name="theButton" asp-page-handler="BButton">B Button</button>
    <br/>
    <p class="text-danger bold">@Model.FeedbackMessage</p>
</form>
