@page "{searchRegionID?}"
@model ExampleWebApp.Pages.Samples.DDLSearchModel
@{
	ViewData["Title"] = "DDL Search Table Queries";
}

<h1>Partial String Query Resulting in a Table Display</h1>

<p>@Model.DDLSearchFeedback</p>

<form method="post">
	
	<table>
		<thead>
			@*Used for the column titles*@
			<tr>
				<th>Territory ID</th>
				<th>Description</th>
				<th>Region ID</th>
			</tr>
		</thead>
		<tbody>
			@*Used for the table rows (details)
				For a database query we will not know the number of rows
				So we need to use a foreach loop to create a row for each result
			*@
			@foreach(var territory in Model.TerritoryResults)
			{
				<tr>
					<td>@territory.TerritoryID</td>
					<td>@territory.TerritoryDescription</td>
					<td><select disabled="true">
						@foreach(var region in Model.RegionsList)
						{
							if(region.RegionID == territory.RegionID)
							{
								<option value="@region.RegionID" selected>@region.RegionDescription</option>
							}
							else
							{
								<option value="@region.RegionID">@region.RegionDescription</option>
							}
						}
						</select>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			@*used for summary table display (Example totals) and also for Pagination*@
			<tr>
				<td colspan="3">
					@{
						if(Model.Pager != null)
						{
							foreach(var pageRef in Model.Pager)
							{
								if(pageRef == Model.Pager.CurrentPage)
								{
									<b>@pageRef.Text</b>
								}
								else
								{
									<a title="Page @pageRef.Page"
										asp-page="/Samples/DDLSearch"
										asp-route-currentPage="@pageRef.Page">
										@pageRef.Text
									</a>
									
									
								}
							}
						}
					}
				</td>
			</tr>
		</tfoot>
	</table>
	<button type="submit" asp-page-handler="Clear">Clear</button>
</form>
