@page
@model ExampleWebApp.Pages.Samples.OrdersModel
@{
	ViewData["Title"] = "Order CRUD";
}

<h1>Order CRUD Page</h1>

<p>@Model.orderFeedback</p>

<form>
	<select asp-for="searchCustomerID">
		<option value="0">select a company...</option>
		@foreach(var customer in Model.CustomerList)
		{
		
			if(customer.CustomerID.Equals(Model.searchCustomerID))
			{
				<option value="@customer.CustomerID" selected>@customer.CompanyName</option>
			}
			else
			{
				<option value="@customer.CustomerID">@customer.CompanyName</option>
			}
		}
	</select>
	<button type="submit" asp-page-handler="DDLSearch">Search Orders</button>
	<br />
	@if (!string.IsNullOrEmpty(Model.searchCustomerID))
	{
		if (Model.OrderResults.Count == 0)
		{
			<p style="color:deeppink; font-weight:bold; font-size:large;">
				There are no orders matching your search request.
			</p>
		}
		else
		{
			<table>
				<thead>
					@*Used for the column titles*@
					<tr>
						<th>Order ID</th>
						<th>Customer ID</th>
						<th>Order Date</th>
						<th>Shipped</th>
						<th>Comments</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var order in Model.OrderResults)
					{
						<tr>
							<td>@order.OrderID</td>
							<td>@order.CustomerID</td>
							<td>@order.OrderDate</td>
							<td>@order.Shipped</td>
							<td>@order.Comments</td>
						</tr>
					}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" align="center">
							@{
								if (Model.Page != null)
								{
									foreach (var pageRef in Model.Pager)
									{
										if (pageRef == Model.Pager.CurrentPage)
										{
											<b>@pageRef.Text</b>
										}
										else
										{
											<a title="Page @pageRef.Page"
													asp-page="/Samples/Orders"
													asp-route-currentPage="@pageRef.Page"
													asp-route-searchCustomerID="@Model.searchCustomerID">
												@pageRef.Text		
											</a>
										}
									}
								}
							}
						</td>
					</tr>
				</tfoot>
			</table>
		}
	}
</form>

